//字型崁入
@font-face 
    font-family: 'Montserrat-regular'
    src: local("Montserrat")
    src: url('../fonts/Montserrat/Montserrat-regular.woff') format("woff")
    src: url('../fonts/Montserrat/Montserrat-regular.ttf') format("opentype")
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Montserrat-Medium'
    src: local("Montserrat")
    src: url('../fonts/Montserrat/Montserrat-Medium.woff') format("woff")
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format("opentype")
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Montserrat-Bold'
    src: local("Montserrat")
    src: url('../fonts/Montserrat/Montserrat-Bold.woff') format("woff")
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format("opentype")
    font-weight: bold
    font-style: bold

@font-face 
    font-family: 'NotoSansTC-regular'
    src: local("Noto Sans CJK TC")
    src: url('../fonts/Noto_Sans_TC/NotoSansTC-regular.woff') format("woff")
    src: url('../fonts/Noto_Sans_TC/NotoSansTC-regular.otf') format("opentype")
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'NotoSansTC-Medium'
    src: local("Noto Sans CJK TC")
    src: url('../fonts/Noto_Sans_TC/NotoSansTC-Medium.woff') format("woff")
    src: url('../fonts/Noto_Sans_TC/NotoSansTC-Medium.otf') format("opentype")
    font-weight: normal
    font-style: normal


@font-face 
    font-family: 'Roboto-Italic'
    src: local("Roboto")
    src: url('../fonts/Roboto/Roboto-Italic.woff') format("woff")
    src: url('../fonts/Roboto/Roboto-Italic.ttf') format("opentype")
    font-weight: normal
    font-style: normal

