//首頁樣式及框架

/*框架*/
.indexPrimary
	@include ipad
		display: flex
		flex-wrap: nowrap
		align-content: stretch

/*首頁主要內容區*/
.indexContent
	@include ipad
		width: 100%

	
.indLink
	width: 100vw
	height: 100vh
	position: absolute
	z-index: 9999
	opacity: 0
	background: $bg-gray-100 !important

	// background: #FFF

.indBk
	width: 100%
	height: 100vh
	overflow: hidden
	// display: block
	display: flex
	flex-wrap: nowrap
	align-content: stretch

.indLeftBk
	width: 45%
	position: relative
.indLeftBk-pageTitArea--dec
	position: absolute
	bottom: 0px
	left: 0px
	width: 100px
.indLeftBk-pageTitArea--decBt
	width: 65px
	height: 65px
	background: $em-color
	border-radius: 35px
	position: absolute
	left: 15px
	bottom: 18px
	display: table
	text-align: center
	box-shadow:  0 0 0px 0px rgba(255,215,0,0.54)
	img
		width: 18px
		vertical-align: -27px
.indLeftBk-pageTitArea
	width: 100%
	min-height: calc(100vh - 240px)
	background: $main-color
	padding: 80px 40px 0 60px
.indLeftBk-pageTitArea--ChangeTit
	margin-bottom: 40px
	opacity: 1
	min-height: 90px
	h3
		color: $primary-color-200
.indLeftBk-pageTitArea--chTit
	color: #FFF
	// margin-bottom: 60px
.indLeftBk-pageTitArea--secondTit
	color: $primary-color-100
	opacity: 0.6
	margin-bottom: 10px

.indRightBk
	width: 55%
	position: relative
	overflow: hidden
	img
		width: 100%
		height: 100%
		// position: absolute
		// opacity: 1






