/*各頁面*/


// main.php
.pagMainBk
	width: 100%
	height: 100vh
	overflow: hidden
	// display: block
	display: flex
	flex-wrap: nowrap
	align-content: stretch

.pagMainLeftBk
	width: 45%
	position: relative
.pagMainLeftBk-pageTitArea--dec
	position: absolute
	bottom: 50px
	right: 50px
	width: 100px
.pagMainLeftBk-pageTitArea--decBt
	width: 65px
	height: 65px
	background: $em-color
	border-radius: 35px
	position: absolute
	right: 60px
	bottom: 70px
	display: table
	text-align: center
	box-shadow:  0 0 0px 0px rgba(255,215,0,0.54)
	img
		width: 18px
		vertical-align: -27px
.pagMainLeftBk-pageTitArea
	width: 100%
	min-height: calc(100vh - 240px)
	background: $main-color
	padding: 70px 40px 0 60px
.pagMainLeftBk-pageTitArea--ChangeTit
	margin-bottom: 50px
	opacity: 1
	min-height: 90px
	h3
		color: $primary-color-200
.pagMainLeftBk-pageTitArea--chTit
	color: #FFF
	margin-bottom: 60px
.pagMainLeftBk-pageTitArea--secondTit
	color: $primary-color-100
	opacity: 0.6
	margin-bottom: 10px

.pagMainRightBk
	width: 55%


.pagMainRightBk-list
	width: 100%
	height: 20vh
	overflow: hidden
	box-shadow: 0px 0px 50px rgba(50, 25, 70, 0.08)
	padding: 0 50px
	display: block
	position: relative
	&:active,&:focus
		box-shadow: 0 0 50px 20px rgba(255,215,0,0.24)
	&:nth-of-type(1)
		border-right: 12px solid $primary-color-600
	&:nth-of-type(2)
		border-right: 12px solid $primary-color-500
	&:nth-of-type(3)
		border-right: 12px solid $primary-color-400
	&:nth-of-type(4)
		border-right: 12px solid $primary-color-300
	&:nth-of-type(5)
		border-right: 12px solid $primary-color-200
.pagMainRightBk-list--chtit
	width: 40%
	display: inline-block
	color: $black
	// padding-top: 80px
	line-height: 20vh
	float: left
.pagMainRightBk-list--titStarArea
	width: 60%
	display: inline-block
	float: right
	padding-top: 35px
.pagMainRightBk-list--changeTitArea
	width: 100%
	// margin-bottom: 5px
	opacity: 1
	height: 42px
	overflow: hidden
	h4
		color: $primary-color-600
		text-align: right
		// font-family: 'Roboto-Italic', 'NotoSansTC-Medium', sans-serif
.pagMainRightBk-list--starArea
	text-align: right
	img
		width: 23px
		margin: 0 0 0 3px


// 結果頁
//result-good.php、result-bad.php
.pagResultBk
	width: 100%
	height: 100vh
	overflow: hidden
	// display: block
	display: flex
	flex-wrap: wrap
	align-content: stretch
.pagResult-topBanner
	width: 100%
	height: 140px
.pagResult-mainArea
	width: 100%
	height: calc(100vh - 240px)
	background: $main-color
	position: relative
.pagResult-mainArea--dec
	position: absolute
	right: 0px
	bottom: 0px
	width: 100px
.pagResult-mainArea
	h3
		color: $primary-color-200
	h1
		color: #fff
	h4
		color: $primary-color-200


//選擇不滿意項目頁
//reason.php
.pagReasonBk
	width: 100%
	height: 100vh
	overflow: hidden
	// display: block
	display: flex
	flex-wrap: wrap
	align-content: stretch

.pagReason-topBanner
	width: 100%
	height: 140px

.pagReason-mainArea
	width: 100%
	height: calc(100vh - 240px)
	display: flex
	flex-wrap: wrap

.pagReason-mainArea--list
	width: 50%
	height: calc(100vh / 5 - 100px / 5)
	box-shadow: 0px 0px 50px rgba(50, 25, 70, 0.08)
	padding: 0 50px
	display: flex
	align-items: center
	&:active,&:focus
		box-shadow: 0 0 50px 20px rgba(255,215,0,0.24)
.pagReason-mainArea--listIcon
	width: 80px
	height: auto
	padding-top: 5px
	// padding-top: 48px
.pagReason-mainArea--listTextArea
	padding: 0px 40px 0 40px
.pagReason-mainArea--chTit
	color: $black
	letter-spacing: 1px
	padding-top: 10px
.pagReason-mainArea--cahngeTit
	height: 35px
	h5
		color: $main-color
		letter-spacing: 0px
		font:
			size: $text-16


